<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    
    <button id=lightsButton>Turn Lights On/Off</button>
    <button id=fanButton>Turn Fan On/Off</button>
    
    <script src="/js/app.js"></script>
</body>

</html>